body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#preloader {
    background: #071225 url(images/bike_preloader_resized.gif) no-repeat center 60%; /* Center the GIF slightly above */
    background-size: 130%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items at the end of the flex container */
    align-items: center;
    padding-bottom: -70%; /* Adjust the padding to move the items up */
    color: white;
    text-align: center;
    transition: opacity 0.8s ease-out;
}

#preloader h1, #preloader p {
    margin: 5px 0 0 0;
    animation: fadeIn 2s forwards;
}

#preloader h1 {
    font-size: 40px;
    margin-top: 30px;
    animation-delay: 0.5s;
}

#preloader p {
    font-size: 28px;
    margin-top: 10px;
    animation-delay: 1s;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.headshot-link {
    display: block;
    text-align: center;
    padding: 20px;
}

.headshot {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white; /* Optional: adds a border around the image */
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 0px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.portfolio {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

section {
    height: 100vh;
    position: relative;
    padding: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

